<app-navbar></app-navbar>
<!-- Start Hero Section -->
<div class="hero">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-lg-5">
            <div class="intro-excerpt">
               <h1>Product Details</h1>
            </div>
         </div>
         <div class="col-lg-7">
            
         </div>
      </div>
   </div>
</div>
<!-- End Hero Section -->

  <!-- Product details Section -->
  <div class="container container-content">
   <div class="row my-5">
     <!-- Display product image in the left column -->
     <div class="col-lg-4">
       <div class="card">
         <img src="{{product?.image}}" id="productImage" class="card-img-top" alt="Product Image">
       </div>
     </div>
     <div class="col-lg-8 d-flex">
       <div class="flex-grow-1">
         <div class="d-flex mx-1 my-3">
           <div class="bg-success-subtle py-2 px-4 py-1 rounded-pill d-flex align-items-center">
             <h5 class="m-0 page-title px-4">About Product</h5>
           </div>
         </div>

         <!-- Product details content here -->
         <h3 id="productName">{{product?.name}}</h3>
         <p id="productDescription"></p>
         <div class="d-flex mx-1 my-3">
           <div class="bg-primary-subtle p-2 rounded-square rounded-3">
             <span class="mb-0 text-gray" id="productRating">Rating: {{product?.rating}} <i class="bi bi-star-fill text-center text-warning" aria-hidden="true"></i></span>
           </div>
         </div>
         <div class="d-flex mx-1 my-3">
           <div class="bg-danger-subtle p-2 rounded-square rounded-3">
             <span class="mb-0 text-gray" id="productReview">{{product?.category}} <i class="bi bi-tag text-center text-danger" aria-hidden="true"></i></span>
           </div>
         </div>
         <div class="d-flex mx-1 my-3">
           <div class="bg-success-subtle border-warning p-2 rounded-square rounded-3">
             <span class="mb-0 text-gray" id="productPrice">Price: {{product?.price}} <i class="bi bi-coin text-center text-success" aria-hidden="true"></i></span> 
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <app-footer></app-footer>